@font-face {
  font-family: "Rostelecom Basis Light";
  src: url("../assets/fonts/RostelecomBasis-Light.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "Rostelecom Basis Regular";
  src: url("../assets/fonts/RostelecomBasis-Regular.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Rostelecom Basis Medium";
  src: url("../assets/fonts/RostelecomBasis-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Rostelecom Basis Bold";
  src: url("../assets/fonts/RostelecomBasis-Bold.otf") format("opentype");
  font-weight: bold;
}